.header {
    color: white;
    background-color: teal;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.btn-primary {
    border-color: green; 
    background: green;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #81c784;
    border-color: #81c784; 
    color: #000000;
}
.btn-primary:active, .btn-primary.active {
    background: #81c784;
    border-color: #81c784; 
    color: #000000;
    box-shadow: none;
}